.wrapper {
  @apply w-full flex flex-col bottom-0 fixed p-1 md:p-4 gap-1 md:gap-3;
}

.answer {
  @apply w-full min-w-full text-sm md:text-3xl font-semibold md:font-bold p-2 md:p-4 border-[3px] md:border-4 text-left gap-2 border-blue-600 rounded bg-black flex text-white;
  transition: background-color 300ms;
}

.answerSelected {
  @apply bg-amber-500;
  color: #422a0f;
}

.letter {
  @apply text-amber-400;
}

.answerSelected .letter {
  color: white;
}

.answerCorrect {
  @apply bg-green-600 text-white;
}

.answers {
  @apply w-full grid gap-1 md:gap-3 grid-cols-1 grid-rows-1 md:grid-cols-2 md:grid-rows-2;
}

